.Index {
	margin-top: 210px;
	font-family: Helvetica;
	text-align: center;
}

.Index > * {
	margin-top: 0;
	margin-bottom: 21px;
}

.Index-image {
	width: 120px;
	height: 120px;
}

.Index-title {
	font-size: 55px;
}

.Index-paragraph {
	font-weight: 200;
}
