.Index {
	margin-top: 300px;
	font-family: Helvetica;
	text-align: center;
}

.Index-image {
	width: 136px;
	height: 136px;
}

.Index-title {
	font-size: 55px;
}

.Index-paragraph {
	font-weight: 200;
}
