html, body {
	margin: 0;
	padding: 0;
	font-family: Helvetica;
}

#root {
	width: 100%;
}

div {
	display: flex;
}

h1 {
	font-size: 55px;
}

p {
	font-size: 21px;
	font-weight: 200;
}

.s-x-15 {width: 120px;}
.s-y-15 {height: 120px;}

.a-x-c {justify-content: center;}

.p-x-20 {padding-left: 210px; padding-right: 210px;}
.p-y-20 {padding-top: 210px; padding-bottom: 210px;}

.m-x-3 > * {margin-left: 6px; margin-right: 6px;}
.m-y-3 > * {margin-top: 6px; margin-bottom: 6px;}
